@font-face {
  font-family: "Consolas";
  src: url("/fonts/consola.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Consolas";
  src: url("/fonts/consolab.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Consolas";
  src: url("/fonts/consolai.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Consolas";
  src: url("/fonts/consolaz.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("/fonts/LXGWWenKai-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  /* 可选：限制只对中文 */
  unicode-range: U+4E00-9FFF; /* 常用汉字 */
}

code {
  font-family: "Consolas", monospace;
}

body {
  font-family: "LXGW WenKai", "Consolas", monospace;
}

.post-title {
  color: #ea8fbb;
}

/* 添加主页左上角图片 */
.home-info-container {
  display: flex;
  align-items: center;
}

.home-left-logo {
  width: 50px;           /* 调整大小 */
  height: 50px;
  margin-right: 10px;    /* 文字间距 */
  border-radius: 5px;    /* 可选，圆角 */
}
